
<div>
    <h3>Query Result: {{i}}</h3>
    <p><strong>Author:</strong> {{author}}</p>
    <p><strong>Title and Author:</strong> {{titleAndAuthor}}</p>
    <p>---------------------------------------------</p>
</div>